html, body, #initial-loader {padding:0;margin:0;width:100%;height:100%;font-family: 'Helvetica Neue', Helvetica, sans-serif, Arial}
#initial-loader {position:fixed}
.page-loader {position:absolute;display:block;width:220px;height:19px;left:50%;top:50%;margin-top:-10px;margin-left:-110px}
#storage {display: none}

#modal {position:fixed;width:100%;height:100%;display:none}
#modal .body {position:absolute;display:block;width:300px;height:180px;left:50%;top:50%;margin-top:-90px;margin-left:-150px}

.mybut,.myselect,.myimg {text-decoration:none;background:#f2f2f2;color:#666;border:1px solid #d9d9d9;cursor:pointer;font:12px Arial;font-weight:bold;outline:none !important;border-radius:2px}
.mybut:hover,.myselect:hover,.myimg:hover {color:#333;border:1px solid #c6c6c6;box-shadow:0 1px 1px rgba(0,0,0,.1)}

.mybut {padding:5px 9px 5px 10px}
.myselect,.myinput {padding:4px 2px;margin:2px 0}
.myinput,.mytext {font:15px Arial,sans-serif;border:1px solid #d9d9d9;border-top:1px solid #c0c0c0;padding:3px;background:#fff;outline:none !important;border-radius:1px}
.mytext {padding:8px}
.myinput:hover,.mytext:hover {border:1px solid #b9b9b9;border-top:1px solid #a0a0a0}
.myinput:focus,.mytext:focus {border:1px solid #4d90fe}
.myselect option {font-weight:normal}

.mylink {color:#15c;border-bottom:1px dashed #15c;cursor:pointer;text-decoration:none}
.mylink:hover {color:#DD4B39;border-color:#DD4B39}

#feed {}
.post {}
.post .timestamp {}
.post .body {}
